.liststyle{
    list-style-type: square;
}
.seeAlso{
    background: #000;
    position: relative;
    h5{
        margin-bottom: 0;
        &::after{
            content: "";
            position: absolute;
            top: 96px;
            width: 50px;
            height: 3px;
            background-color:#62DB54;    
        }
    }
    .card{
        border: none;
        &:hover{
            border: #62DB54 solid 1px;
        }
    }
}
.price .material-icons{
    width: 16px;
    height: 16px;
    display: block;
    font-size: 16px;
    padding: 8px;
}
.circle32{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.downgradient{
    background: linear-gradient(#09ACF5,#62DB54);
}