<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar bg-primary">
      <div class="container">
        <h1><a href="index.html"><img class="logo d-block d-md-none" src="./assets/images/logo2.svg" alt="logo"><img class="logo-md d-none d-md-block" src="./assets/images/logo.svg" alt="logo"></a></h1>
        <ul class="list-unstyled d-md-flex">
          <li class="style3 d-none d-md-block"><a href="#">首頁</a></li>
          <li class="style3 d-none d-md-block"><a href="#" class="ms-5">課程介紹</a></li>
          <li class="style3 d-none d-md-block"><a href="#" class="d-flex align-items-center d-block"><span class="material-icons me-1 ms-5">
            account_circle
            </span>登入</a></li>
          <li><a href="#"><span class="material-icons d-block d-md-none text-success">
            drag_handle
            </span></a></li>
        </ul> 
      </div>  
    </nav>

    <%- contents %>

    <footer class="footer text-center">
      <p class="font-monospace py-3 py-md-6">Coding Home © 2022 All Rights Reserved</p>
    </div>
  
    
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>