.mt40{
    margin-top: 40px;
}
.mb21{
    margin-bottom: 21px;
}
.mb40{
    margin-bottom: 40px;
}
.pt24{
    padding-top: 24px;
}
.pb24{
    padding-bottom: 24px;
}
.radius8{
    border-radius: 8px;
}
.radius24{
    border-radius: 24px;
}
.style1{
    font-size: 24px;
    line-height: 35px;
}
.style2{
    font-size: 32px;
    line-height: 37px;
}
.style3{
    font-size: 18px;
    line-height: 26px;
}
.style4{
    font-size: 20px;
    line-height: 29px;
}
.style5{
    font-size: 24px;
    line-height: 28px;
}
.style6{
    font-size: 28px;
    line-height: 40px;
}
@media (min-width:768px){
    .mr-md-40{
        margin-right: 40px;
    }
}
@media (min-width:992px){
    .mr-lg-88{
        margin-right: 88px; 
    }
}